<!-- Escribiendo la palabra html se puede cargar de forma automática las etiquetas html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">    <!-- Para este ejemplo de la Vista se utiliza thymeleaf-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <table>
        <th>Name</th><th>Lastname</th><th>Email</th>
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:if="${user.email != null}" th:text="${user.email}"></td>
            <td th:if="${user.email == null}" th:text="${'Sin email'}"></td>
        </tr>
    </table>
</body>
</html>

